@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.1%;
    --foreground: 252 15% 25%;
    --card: 240 67% 97%;
    --card-foreground: 252 15% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 252 15% 25%;
    --primary: 254 100% 86%;
    --primary-foreground: 252 40% 38%;
    --secondary: 240 20% 96%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 20% 96%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 347 100% 90%;
    --accent-foreground: 347 40% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 255 33% 90%;
    --input: 255 33% 90%;
    --ring: 254 100% 86%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 252 15% 12%;
    --foreground: 240 15% 95%;
    --card: 252 15% 18%;
    --card-foreground: 240 15% 95%;
    --popover: 252 15% 12%;
    --popover-foreground: 240 15% 95%;
    --primary: 254 100% 86%;
    --primary-foreground: 252 40% 38%;
    --secondary: 252 15% 25%;
    --secondary-foreground: 240 15% 95%;
    --muted: 252 15% 25%;
    --muted-foreground: 240 15% 65%;
    --accent: 347 100% 86%;
    --accent-foreground: 347 40% 38%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 252 15% 25%;
    --input: 252 15% 25%;
    --ring: 254 100% 86%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
